In [14]:
import pandas as pd

In [15]:
df_customer_orders = pd.read_csv('/Users/kinga/Documents/DataScience/Task/customer_orders.csv', names=['number', 'customer_id', 'order_id'], header=0)
df_customer_orders.head()

   number  customer_id    order_id
0       1   77461851.0  82168832.0
1       2   37934116.0  38300086.0
2       3   39770481.0  70629629.0
3       4   50298765.0  81244871.0
4       5   23383753.0  88005542.0

In [16]:
df_customer_orders.info

<bound method DataFrame.info of           number  customer_id    order_id
0              1   77461851.0  82168832.0
1              2   37934116.0  38300086.0
2              3   39770481.0  70629629.0
3              4   50298765.0  81244871.0
4              5   23383753.0  88005542.0
...          ...          ...         ...
4003959  4003960   22997615.0  76578060.0
4003960  4003961   52840571.0  48208738.0
4003961  4003962   52840571.0  11830182.0
4003962  4003963   52840571.0  73524810.0
4003963  4003964          NaN         NaN

[4003964 rows x 3 columns]>

In [17]:
df_customer_orders.isna().sum()

number         0
customer_id    1
order_id       1
dtype: int64

In [18]:
df_customer_orders_cleaned = df_customer_orders.dropna(axis=0, how='any')

Removing NaN values

In [19]:
df_customer_orders_cleaned = df_customer_orders_cleaned.drop(df_customer_orders_cleaned.columns[0], axis=1)

Removing the column "number", there is a DataFrame index

In [20]:
df_customer_orders_cleaned['order_id'].value_counts()

order_id
73524810.0    1
82168832.0    1
38300086.0    1
70629629.0    1
81244871.0    1
             ..
69298095.0    1
54454171.0    1
57013927.0    1
59745019.0    1
82144028.0    1
Name: count, Length: 4003963, dtype: int64

Checking that order_id is unique, each order is only once

In [21]:
df_customer_orders_cleaned['customer_id'].value_counts()

customer_id
3362773.0     8
25466936.0    8
42254578.0    8
2674548.0     8
74602669.0    8
             ..
39770481.0    1
50298765.0    1
23383753.0    1
2789905.0     1
59657798.0    1
Name: count, Length: 1060705, dtype: int64

Checking the number of orders per customer

In [22]:
test_customer_order_id = df_customer_orders_cleaned[df_customer_orders_cleaned['customer_id'] == 3362773.0]
test_customer_order_id

        customer_id    order_id
957010    3362773.0  87466247.0
957011    3362773.0  63875100.0
957012    3362773.0  50576772.0
957013    3362773.0  63834651.0
957014    3362773.0  78236840.0
957015    3362773.0  90039906.0
957016    3362773.0  57651900.0
957017    3362773.0  61494484.0

Checking if the orders of a customer are different