In [134]:
import pandas as pd

In [135]:
df_orders = pd.read_csv('/Users/kinga/Documents/DataScience/Task/orders.csv', names=['number', 'order_id', 'value'], header=0)
df_orders.head()

   number    order_id   value
0       1  82168832.0  240.29
1       2  38300086.0  730.12
2       3  70629629.0  145.04
3       4  81244871.0  472.24
4       5  88005542.0  354.54

In [136]:
df_orders.info

<bound method DataFrame.info of            number    order_id   value
0               1  82168832.0  240.29
1               2  38300086.0  730.12
2               3  70629629.0  145.04
3               4  81244871.0  472.24
4               5  88005542.0  354.54
...           ...         ...     ...
4003977  11310000  46861536.0  220.30
4003978  11410000  73308696.0  208.33
4003979  11510000  80131863.0  628.98
4003980  11610000  82066694.0  139.71
4003981  11710000  76207670.0  726.36

[4003982 rows x 3 columns]>

In [137]:
df_orders.isna().sum()

number      0
order_id    1
value       1
dtype: int64

Removing Nan values

In [138]:
df_orders_cleaned = df_orders.dropna(axis=0, how='any')

Removing the column "number", there is a DataFrame index

In [139]:
df_orders_cleaned = df_orders_cleaned.drop(df_orders_cleaned.columns[0], axis=1)

Removing the orders containing returns (orders with values below 0) from calculations.

In [140]:
df_orders_cleaned = df_orders_cleaned[df_orders_cleaned.value > 0]

Checking if there is only one order_id per order value

In [141]:
df_orders_cleaned['order_id'].value_counts()

order_id
56833617.0    2
16666576.0    2
24729369.0    2
52537325.0    2
46861536.0    2
             ..
91722929.0    1
76578060.0    1
48208738.0    1
11830182.0    1
70629629.0    1
Name: count, Length: 3964073, dtype: int64

Removing duplicate values

In [142]:
df_orders_cleaned = df_orders_cleaned.drop_duplicates(keep='first')

In [143]:
df_orders_cleaned.describe()

           order_id         value
count  3.964073e+06  3.964073e+06
mean   5.503874e+07  2.565577e+04
std    2.589908e+07  4.066933e+05
min    1.018763e+07  1.000000e+01
25%    3.261849e+07  2.094000e+02
50%    5.501393e+07  4.090400e+02
75%    7.746140e+07  6.085100e+02
max    9.991874e+07  8.000000e+06

Average order value is 25655,77